* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

/*bar1*/
.bar {
    height: 150px;
    background-color: #fff;
    border-bottom: 1px #d5dae2 solid;
}

.bar-contatiner { 
    padding-bottom: 100px;
}

.nav-menu {
    font-size: 50px;
    float: right; 
    margin-right: 0px;
}

.nav-btn { 
    list-style-type: none;
    margin: 0;
}

.nav-btn > li{
    display: inline-block; /* 항목들을 가로로 나열 */
    margin-right: 0 auto;
}

.dropbutton1 {
    display: inline-block;
    color: #7e848e;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 33px;
    margin-left: 8px;
    font-weight: 600;
}

[role="button"] {
    cursor: pointer;
}

.dropdown {
    margin-top: 0 !important;
    z-index: 999999;
}

.dropbutton {
    color: #a7adbf;
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}

.dropbutton > span {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 12px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*여기는 main*/
.main{
    z-index: 9999;
    border-bottom: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
}

.bar {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-position-x: left;
}

.mainbar {
    padding: 0 15px;
    max-width: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    float : left;
}

/*런어스 이미지 들어간 부분*/
.mainbar1 {
    flex: 0 0 auto;
    margin: 0;
}

/*두번째 main 부분*/
.mainbar2 {
    margin-left: initial !important;
    display : inline-block;
}

.menu-list1{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list1 > li {
    display: inline-block; /* 항목들을 가로로 나열 */
    margin-right: 30px;
    font-weight: bold;
    font-size: 20px;
    padding : 10px;
}

.menu-item1 {
    background: url(https://www.learnus.org/theme/coursemosv2/pix/layout/category.svg) no-repeat 10px center;
    padding-left: 40px !important;
}

/*여기는 mainbar3*/
.mainbar3 {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-list2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.mainbar3 {
    display: inline-block; /* 항목들을 가로로 나열 */
    margin-right: 20px;
}

.menu-list2{
    display: inline-block;
    margin-left: 16px;
    font-size: 10px;
    color: #a7adbf;
    font-weight: 500;
    text-align: center;
}

.menu-list2 span {
    background-image: url(https://www.learnus.org/theme/image.php/coursemosv2/theme/1711562572/login/search);
    width: 36px;
    height: 36px;
    padding: 4px;
    background-position: center;
    display: block;
    margin: 0 auto;
}

.menu-list3{
    display: inline-block;
    margin-left: 16px;
    font-size: 10px;
    color: #a7adbf;
    font-weight: bold;
    text-align: center;
}

.menu-list3 span {
    background-image: url(https://www.learnus.org/theme/image.php/coursemosv2/theme/1711562572/login/my);
    width: 36px;
    height: 36px;
    padding: 4px;   
    background-position: center;
    display: block;
    margin: 0 auto;
}


/*header*/
.login {
    top: 0;
    left: 0;
    margin-top: 0px;
    height: 540px;
    display: block;
}

.hd-image {
    height : 100%;
}

.hd-image1 {
    background-image: url(https://www.learnus.org/pluginfile.php/1/local_ubion/mainslider3/239/Chatgpt%201024.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

/*section1*/
.sec1 {
    margin : 100px 0;
}

.sec1-head { 
    unicode-bidi: isolate;
}   

.search {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-position-x: left;
}

.search-text {
    font-size: 28px;
    line-height: 38px;
    color: #1b1e26;
    font-weight: 600;
    margin-bottom: 20px;
}

.search-box {
    width: 780px;
    margin: 0 auto;
}

.search-box1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.search-box2 {
    height: 80px;
    line-height: 80px;
    padding: 0 24px;
    border: 2px solid #d5dae2;
    width : 700px;
    border-radius: 8px 0 0 8px;
    background-color: #f4f5f8;
    border-right: 0;
    font-size: 20px;
}

.search-submit {
    margin-left: -1px;
    display: flex;
}

.search-submit1 {
    background: url(https://www.learnus.org/theme/coursemosv2/pix/login/main-search.svg) no-repeat center #003876;
    border: 0;
    border-radius: 0 8px 8px 0;
    font-size: 0;
    height: 80px;
    line-height: 80px;
    min-width: 80px;
    padding: 0;
}

/*지금부터 section*/
.section {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-position-x: left;
}

.lecture1 {
    margin: 0 auto;
    padding-bottom: 100px;
    background-position-x: left;
}

.lecture-text {
    margin-bottom: 24px;
}

.lecture-text1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
}

.lecture-text1 > span {
    background-image: url(https://www.learnus.org/theme/coursemosv2/pix/layout/course_card_ico1.svg);
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    background-size: 100% !important;
}

.lecture-text2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #7e848e;
}

.lecture-list1 {
    width: 100%;
    height: 100%;
    display : flex;
    justify-content: space-between;
}

.lecture-list1 > a {
    margin-right: 20px;
}

.lecture-list1:last-child {
    margin-right: 0;
  }

.course-image {
    height: 200px;
    border-radius: 16px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border: 1px #eee solid;
}

.image {
    width: 100%;
    height: 100%
}

.course-professor {
    font-weight:500;
    font-size: 13px;
    color: gray;
    padding :10px 0 10px;
}

.course-title {
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-bottom : 30px;
}

.course-studytime {
    font-weight: bold;
    font-size: 15px;
    color: gray;
    padding-bottom : 15px;
}

.course-amount {
    font-weight: bold;
    font-size: 20px;
    color : blue;
    margin-bottom: 15px;
}

.best {
    background-color: #dc3535;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    min-width: 48px;
    border-radius: 4px;
    padding: 0;
    text-align: center;
}

.rec-lec {
    padding-bottom: 100px;
}

.lecture-text1-1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
}

.lecture-text1-1 > span {
    background-image: url(https://www.learnus.org/theme/coursemosv2/pix/layout/course_card_ico2.svg);
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    background-size: 100% !important;
}

.lectures-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lectures-icons > a {
    text-decoration: none;
    background-color: transparent;
    margin-top: 40px;
    color: #337ab7;   
}

.lectures-icon-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -.005em;
    color: #2a3652;
    margin-top: 16px;
}

.rec-lec-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #2a3652;
    position: relative
}

.rec-lec-text > span {
    content: "";
    width: 32px;
    height: 32px;
    background: url(https://www.learnus.org/theme/coursemosv2/pix/layout/course_card_ico3.svg) no-repeat right center;
    position: absolute;
    top: 5px;
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
}

.about {
    padding-bottom: 50px;
}

.about-container {
    min-height: 320px;
    padding-top: 40px;
    margin-bottom: 100px;
}

.about-box {
    background-color: #ffc240;
    border-radius: 16px;
    position: relative;
    min-height: 280px;
    padding: 50px 80px;
    color: #fff;
}

.about-box > a {
    font-size: 20px;
    line-height: 46px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    background: url(https://www.learnus.org/theme/coursemosv2/pix/login/btn_more_w.svg) no-repeat 83% #003876;
    padding: 0 50px 0 30px;
}

.about-box > img {
    position: absolute;
    bottom: 0;
    right: 80px;
}

.about-box-title {
    font-size: 18px;
    line-height: 26px;
}

.about-box-title1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin: 16px 0;
}

.about-box-title1 > span {
    font-weight: 400;
}

.lecture-text1-2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
}

.lecture-text1-2 > span {
    background-image: url(https://www.learnus.org/theme/coursemosv2/pix/layout/course_card_ico4.svg);
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    background-size: 100% !important;
}

.lecture-text1-3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
}

.lecture-text1-3 > span {
    background-image: url(https://www.learnus.org/theme/coursemosv2/pix/layout/course_card_ico5.svg);
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    background-size: 100% !important;
}

.series-lec {
    padding-bottom: 50px;
}

.free-lec {
    padding-bottom: 50px;
}

.enterprise {
    background-color: #003876;
    padding: 100px 0 60px;
}

.enterprise-container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-position-x: left;
}

.enterprise-box {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.enterprise-title {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px rgba(255, 255, 255, .3) solid;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.enterprise-title1 > h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: #fff;
    padding: 0;
    margin-bottom: 24px;
}

.enterprise-title1 > h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #a7adbf;
    padding: 0;
    margin: 0;
}

.enterprise-area {
    margin-left: auto;
}

.enterprise-area > a {
    font-size: 15px;
    line-height: 46px;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 50px;
    text-decoration: none;
    display: block;
    background: url(https://www.learnus.org/theme/coursemosv2/pix/login/btn_more_w.svg) no-repeat 83%;
    padding: 0 50px 0 30px;
    opacity: .5;
}

.lastmenu {
    padding: 100px 0 120px;
}

.lastmenu-container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-position-x: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.lastmenu1 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.lastmenu2 {
    background-color: #f4f5f8;
    border-radius: 16px;
    padding: 40px;
}

.lastmenu2-sub {
    background-color: #e7f5ff;
    border-radius: 16px;
    padding: 40px;
}

.lastmenu-main {
    display: flex;
    align-items: center;
    border-bottom: 1px #d5dae2 solid;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.lastmenu-title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: #1b1e26;
    margin-bottom: 0;
}

.lastmenu-main > a {
    margin-left: auto;
    font-size: 20px;
    line-height: 30px;
    color: #7e848e;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.lastmenu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lastmenu-list > li {
    display: flex;
    align-items: center;
}

.lastmenu-list > li > a {
    font-size: 18px;
    line-height: 26px;
    color: #2a3652;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    background: url(/theme/coursemosv2/pix/login/notice_dot.png) no-repeat center left;
    padding: 8px 0 8px 10px;
}

.footer {
    clear: both;
    text-align: left;
    padding: 100px 0;
    border-top: 1px #d5dae2 solid;
    background-color :gray;
    color : blueviolet;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}